.main-view-container {
  columns: 1;
  column-gap: 0;
}

@media (min-width: 576px) {
  .main-view-container {
    columns: 2;
  }
}

@media (min-width: 768px) {
  .main-view-container {
    columns: 3;
  }
}

@media (min-width: 992px) {
  .main-view-container {
    columns: 4;
  }
}

@media (min-width: 1200px) {
  .main-view-container {
    columns: 5;
  }
}

@media (min-width: 1921px) {
  .main-view-container {
    columns: 6;
  }
}